
 <%- include('./layouts/header') %>
  <h1 class="title">ROLE-BASED-ACCESS-CONTROL-SYSTEM</h1>
 <div class="tutorial-info">
   <img src="/image1.png" alt="Shopping App" class="tutorial-image">
  </div>


<%- include('./layouts/footer') %>
